@import "./assets/styles/app.css";



.cin-number label {

    width: fit-content;

    font-size: 18px;

    letter-spacing: 3px;

    margin-left: auto;

    margin-right: auto;

}



.cin-number input {

    text-align: center;

}



.form-item>* {

    width: 95%;

}