@import "./assets/styles/app.css";



:root {

 

    --indicold-first-color: #ffb017;

 

    --indicold-second-color: #10338c;

 

}
.cin-number label {

    width: fit-content;


    letter-spacing: 3px;


    margin-right: auto;

}



.cin-number input {

    text-align: center;

}

.otp-modal { display: flex; backdrop-filter: blur(5px); height: 100%; } .otp-modal > * { margin-left: auto; margin-right: auto; }



.form-item>* {

    width: 95%;

}
.indigo-btn{

    background-color: #FFB017;

}

 

.indigo-btn:hover{

    background-color: #CA7D11!important;

}
.text-head-title{
    color: #0f3492 !important;
}
.text-label-title{
    color:#103492 !important
}
.hyper-link-color{
    color: #103492 !important;
}
.hyper-link-color:hover{

    background-color: #CA7D11!important;

}
.input-wrapper,
.input-md {
border-radius: 13px !important;
padding-right: 0px !important;
}
.email-msg-text{
    width: 180px !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
}